<hr/>

<h3>Console tasks:</h3>

<p>
    To view the users list in the CLI, run the following command:
</p>
<div class="card-panel grey darken-3" style="color: white">
    <pre><code>php ./bin/console.php users:list</code></pre>
</div>

<p>
    To create user in the CLI, run the following command:
</p>
<div class="card-panel grey darken-3" style="color: white">
    <pre><code>php ./bin/console.php users:create "Tom Tom"</code></pre>
</div>

<p>
    To display user details in the CLI, run the following command:
</p>
<div class="card-panel grey darken-3" style="color: white">
    <pre><code>php ./bin/console.php users:show [id]</code></pre>
</div>